@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  margin: 0;
}
html body .menu-hamburguesa {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  color: white;
  font-size: 28px;
}
html body .menu-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #262e3b;
  transition: left 0.5s ease;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .menu-nav.open {
  left: 0;
}
html body .menu-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body .menu-nav ul li {
  margin: 20px 0;
  text-align: left;
}
html body .menu-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  transition: all 0.3s ease-out;
}
html body .menu-nav ul li a:hover {
  background-color: #435064;
  border-radius: 10px;
}
html body main {
  width: 100%;
  max-width: 1200px;
  margin: 5% auto 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body main .titulo {
  display: flex;
  justify-content: start;
  font-size: 32px;
  font-weight: 700;
  color: #e0e9f8;
  margin-top: 5%;
  gap: 10px;
}
html body main section {
  width: 80% !important;
}
html body main .section .content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
html body main .section .content .sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-top: 1.3vh;
  margin-left: 25px;
}
html body main .section .content .sobre-mi h1 {
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 40px;
  font-weight: 700;
}
html body main .section .content .sobre-mi p {
  color: #ced6e2;
  font-size: 18px;
  margin-bottom: 1vh;
}
html body main .section .content .sobre-mi .botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
html body main .section .content .sobre-mi .botones button {
  border: 1px solid rgb(128, 128, 128);
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
  align-items: center;
  padding: 5px;
  width: 120px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: -15px;
}
html body main .section .content .sobre-mi .botones button .fa-brands,
html body main .section .content .sobre-mi .botones button .fa-solid {
  display: inline-block;
  margin: 6px;
  color: white;
  font-size: 1rem;
}
html body main .section .content .sobre-mi .botones .btn-redes {
  background-color: #293649;
}
html body main .section .content .sobre-mi .botones .btn-redes:hover {
  border: none;
}
html body main .section .content .img-personal {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 6px solid #171f2f;
}
html body main .section2 .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin-top: 5%;
}
html body main .section2 .grid-container .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #293649;
  padding: 20px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  animation-delay: calc(0.1s * var(--i));
}
html body main .section2 .grid-container .grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
html body main .section2 .grid-container .grid-item .grid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body main .section2 .grid-container .grid-item .grid-content img {
  max-width: 70px;
  height: 70px;
}
html body main .section2 .grid-container .grid-item .grid-content .language-name {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}
html body main .section2 .grid-container .grid-item .grid-content .level {
  margin-top: 5px;
  color: #ddd;
  font-size: 14px;
}
html body main .section2 .grid-container .grid-item .grid-content .texto {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
html body main .section3 h2 {
  margin-bottom: 10px;
}
html body main .section3 .contenedor-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 5px;
}
html body main .section3 .contenedor-grid .proyecto-item {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
html body main .section3 .contenedor-grid .proyecto-item img {
  width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info {
  text-align: left;
  color: white;
  font-size: 16px;
  margin-top: 2%;
  padding: 10px;
  height: auto;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .proyecto-titulo {
  font-size: 20px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info p {
  color: rgb(209, 209, 209);
  font-size: 16px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .botones2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .botones2 .boton-animado {
  cursor: pointer;
  margin: auto;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  padding: 5px;
  transition: all 0.3s ease-out;
  align-items: center;
  background-color: #293649;
  color: white;
  border: 1px solid rgb(128, 128, 128);
  margin-right: 10px;
  width: 110px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .botones2 .boton-animado:hover {
  border: none;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .botones2 .fa-brands,
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .botones2 .fa-solid {
  display: inline-block;
  font-size: 1rem;
  margin: 0 10px;
}
html body main .section4 h2 {
  margin-top: 6%;
}
html body main .section4 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2b3544;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
}
html body main .section4 form .form-group {
  display: flex;
  flex-direction: column;
}
html body main .section4 form .form-group label {
  color: #e0e9f8;
  margin-bottom: 4px;
}
html body main .section4 form .form-group input,
html body main .section4 form .form-group textarea {
  padding: 5px;
  border-radius: 5px;
  background-color: #1f2937;
  color: white;
  border: none;
}
html body main .section4 form .enviar {
  cursor: pointer;
  background-color: #6d6dff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.5s ease-in-out;
}
html body main .section4 form .enviar:hover {
  background-color: #5353ff;
}

@media (max-width: 768px) {
  .titulo {
    align-items: center !important;
    justify-content: center !important;
  }
  .grid-container {
    gap: 15px;
  }
  .grid-item {
    flex: 1 1 calc(50% - 20px);
  }
  .contenedor-grid {
    grid-template-columns: 1fr !important;
    justify-items: center !important;
  }
  .content {
    flex-wrap: wrap;
    align-items: center;
  }
  .img-personal {
    width: 50%;
    height: auto;
  }
  .section3 h2 {
    margin-bottom: 4%;
  }
  .section4 {
    margin-top: 20%;
  }
}
@media (max-width: 480px) {
  .section2 .grid-item {
    flex: 1 1 100%;
  }
  .section2 img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 680px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr) !important;
    /* 2 columnas cuando la pantalla es menor a 680px */
  }
  .section3 {
    margin-bottom: 5%;
  }
  .section3 .proyecto-item:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .section3 .contenedor-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media (max-width: 635px) {
  .content {
    justify-content: center;
  }
}
@media screen and (max-width: 455px) {
  .botones {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */