@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  margin: 0;
}
html body .menu-hamburguesa {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  color: white;
  font-size: 28px;
}
html body .menu-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #262e3b;
  transition: left 0.5s ease;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .menu-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body .menu-nav ul li {
  margin: 20px 0;
  text-align: left;
}
html body .menu-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  transition: all 0.5s ease-out;
}
html body .menu-nav.open {
  left: 0;
}
html body main {
  width: 100%;
  max-width: 1200px;
  margin: 5% auto 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body main .titulo {
  display: flex;
  justify-content: start;
  font-size: 32px;
  font-weight: 700;
  color: #e0e9f8;
  margin-top: 5%;
  gap: 10px;
}
html body main section {
  width: 70% !important;
}
html body main .section .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
html body main .section .content .sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 2vh;
  margin-left: 20px;
}
html body main .section .content .sobre-mi h1 {
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 40px;
  font-weight: 700;
}
html body main .section .content .sobre-mi p {
  color: #ced6e2;
  font-size: 18px;
  margin-bottom: 1vh;
}
html body main .section .content .sobre-mi .botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
html body main .section .content .sobre-mi .botones button {
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding: 6px 9px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: -15px;
}
html body main .section .content .sobre-mi .botones button .fa-brands {
  display: inline-block;
  margin: 6px;
  color: white;
  font-size: 1rem;
}
html body main .section .content .sobre-mi .botones button .fa-solid {
  display: inline-block;
  margin: 6px;
  color: white;
  font-size: 1rem;
}
html body main .section .content .sobre-mi .botones .btn-instagram {
  background-color: #ff619d;
}
html body main .section .content .sobre-mi .botones .btn-instagram:hover {
  background-color: #c74476;
}
html body main .section .content .sobre-mi .botones .btn-github {
  background-color: #10b981;
}
html body main .section .content .sobre-mi .botones .btn-github:hover {
  background-color: #127255;
}
html body main .section .content .sobre-mi .botones .btn-color {
  background-color: #6666f0;
}
html body main .section .content .sobre-mi .botones .btn-color:hover {
  background-color: #4141f1;
}
html body main .section .content .img-personal {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 6px solid #171f2f;
}
html body main .section2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
html body main .section2 .grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  text-align: center;
}
html body main .section2 .grid-container .grid-item {
  flex: 1 1 calc(25% - 20px);
  padding-top: 20px;
  max-width: 200px;
  height: 150px;
  animation: pulse 1.5s infinite ease-in-out;
}
html body main .section2 .grid-container .grid-item .grid-content {
  width: 100%;
  max-width: 100%;
  transition: all 0.2s ease-in-out;
}
html body main .section2 .grid-container .grid-item .grid-content img {
  max-width: 60px;
  height: auto;
}
html body main .section2 .grid-container .grid-item .grid-content p {
  margin-top: 6%;
  color: #fff;
  font-size: 15px;
}
html body main .section2 .grid-container .grid-item .grid-content .texto {
  font-size: 13px;
}
html body main .section3 .contenedor-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  margin-top: 5%;
  border-radius: 10px;
  margin-bottom: 8%;
  padding: 2%;
}
html body main .section3 .contenedor-grid .proyecto-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 3%;
  background-color: #2b3544;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
html body main .section3 .contenedor-grid .proyecto-item img {
  width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
}
html body main .section3 .contenedor-grid .proyecto-item:hover {
  transform: scale(1.1);
  background-color: rgba(32, 32, 32, 0.308);
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info {
  text-align: left;
  color: white;
  font-size: 16px;
  margin-top: 2%;
  padding: 10px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .proyecto-titulo {
  font-size: 20px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info p {
  color: rgb(209, 209, 209);
  font-size: 16px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .boton-animado {
  cursor: pointer;
  margin-top: 5%;
  background-color: #6666f0;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding: 4px 6px;
  transition: all 0.5s ease-in-out;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .boton-animado:hover {
  background-color: #4141f1;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .fa-brands,
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .fa-solid {
  display: inline-block;
  font-size: 1rem;
  margin: 0 5px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .boton-animado2 {
  cursor: pointer;
  margin-top: 5%;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 4px 6px;
  transition: all 0.5s ease-in-out;
  margin-right: 5px;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .boton-animado2:hover {
  background-color: #cacaca;
}
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .boton-animado,
html body main .section3 .contenedor-grid .proyecto-item .proyecto-info .boton-animado2 {
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
}
html body main .section4 form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #2b3544;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin-top: 20px;
}
html body main .section4 form .form-group {
  display: flex;
  flex-direction: column;
}
html body main .section4 form .form-group label {
  color: #e0e9f8;
  margin-bottom: 4px;
}
html body main .section4 form .form-group input,
html body main .section4 form .form-group textarea {
  padding: 5px;
  border-radius: 5px;
  background-color: #1f2937;
  color: white;
  border: none;
}
html body main .section4 form .enviar {
  cursor: pointer;
  background-color: #6d6dff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.5s ease-in-out;
}
html body main .section4 form .enviar:hover {
  background-color: #5353ff;
}

@media (max-width: 768px) {
  .titulo {
    justify-content: center;
    text-align: center;
  }
  .grid-container {
    gap: 10px;
  }
  .contenedor-grid {
    grid-template-columns: 1fr !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    flex-wrap: wrap;
    align-items: center;
  }
  .content .img-personal {
    width: 50%;
    height: auto;
  }
  .section3 h2 {
    margin-bottom: 4%;
  }
  .section4 {
    margin-top: 52%;
  }
}
@media (max-width: 680px) {
  .grid-container {
    gap: 10px;
  }
  .section3 {
    margin-bottom: 10%;
  }
  .section3 .proyecto-item:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .section3 .contenedor-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media screen and (min-width: 455px) {
  .botones {
    flex-direction: row; /* Fila para pantallas de 455px en adelante */
    justify-content: space-around;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */