@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
}

html {
  scroll-behavior: smooth;

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    margin: 0;

    .menu-hamburguesa {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 1000;
      cursor: pointer;
      color: #ffff;
      font-size: 28px;
    }

    .menu-nav {
      position: fixed;
      top: 0;
      left: -250px;
      width: 200px;
      height: 100%;
      background-color: #262e3b;
      transition: left 0.5s ease;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin: 20px 0;
          text-align: left;

          a {
            color: #ffff;
            text-decoration: none;
            font-size: 18px;
            padding: 8px;
            transition: all 0.5s ease-out;
          }
        }
      }

      &.open {
        left: 0;
      }
    }
    main {
      width: 100%;
      max-width: 1200px;
      margin: 5% auto 0 auto;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .titulo {
        display: flex;
        justify-content: start;
        font-size: 32px;
        font-weight: 700;
        color: #e0e9f8;
        margin-top: 5%;
        gap: 10px;
      }
      section {
        width: 70% !important ;
      }

      .section {
        .content {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;

          .sobre-mi {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin-top: 2vh;
            margin-left: 20px;

            h1 {
              color: #ffffffde;
              font-size: 40px;
              font-weight: 700;
            }

            p {
              color: #ced6e2;
              font-size: 18px;
              margin-bottom: 1vh;
            }
            .botones {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 10px;

              button {
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 1rem;
                color: rgb(255, 255, 255);
                padding: 6px 9px;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                margin-left: -15px;

                .fa-brands {
                  display: inline-block;
                  margin: 6px;
                  color: white;
                  font-size: 1rem;
                }
                .fa-solid {
                  display: inline-block;
                  margin: 6px;
                  color: white;
                  font-size: 1rem;
                }
              }
              .btn-instagram {
                background-color: #ff619d;
                &:hover {
                  background-color: #c74476;
                }
              }
              .btn-github {
                background-color: #10b981;

                &:hover {
                  background-color: #127255;
                }
              }
              .btn-color {
                background-color: #6666f0;
                &:hover {
                  background-color: #4141f1;
                }
              }
            }
          }

          .img-personal {
            width: 200px;
            height: auto;
            border-radius: 50%;
            border: 6px solid #171f2f;
          }
        }
      }
      .section2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;

        .grid-container {
          display: flex;
          flex-wrap: wrap;
          margin-top: 5%;
          text-align: center;

          .grid-item {
            flex: 1 1 calc(25% - 20px);
            padding-top: 20px;
            max-width: 200px;
            height: 150px;
            animation: pulse 1.5s infinite ease-in-out;

            .grid-content {
              width: 100%;
              max-width: 100%;
              transition: all 0.2s ease-in-out;

              img {
                max-width: 60px;
                height: auto;
              }

              p {
                margin-top: 6%;
                color: #fff;
                font-size: 15px;
              }

              .texto {
                font-size: 13px;
              }
            }
          }
        }
      }
      .section3 {
        .contenedor-grid {
          display: grid;

          grid-template-columns: repeat(2, 1fr);
          grid-gap: 5%;
          margin-top: 5%;
          border-radius: 10px;
          margin-bottom: 8%;
          padding: 2%;

          .proyecto-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            padding: 3%;
            background-color: #2b3544;
            border-radius: 15px;
            transition: all 0.5s ease-in-out;

            img {
              width: 100%;
              height: auto;
              max-height: 500px;
              border-radius: 10px;
              margin-bottom: 10px;
            }

            &:hover {
              transform: scale(1.1);
              background-color: rgba(32, 32, 32, 0.308);
            }

            .proyecto-info {
              text-align: left;
              color: white;
              font-size: 16px;
              margin-top: 2%;
              padding: 10px;

              .proyecto-titulo {
                font-size: 20px;
              }

              p {
                color: rgb(209, 209, 209);
                font-size: 16px;
              }

              .boton-animado {
                cursor: pointer;
                margin-top: 5%;
                background-color: #6666f0;
                border: none;
                border-radius: 10px;
                font-size: 1rem;
                color: rgb(255, 255, 255);
                padding: 4px 6px;
                transition: all 0.5s ease-in-out;

                &:hover {
                  background-color: #4141f1;
                }
              }

              .fa-brands,
              .fa-solid {
                display: inline-block;
                font-size: 1rem;
                margin: 0 5px;
              }

              .boton-animado2 {
                cursor: pointer;
                margin-top: 5%;
                background-color: #ffffff;
                border: none;
                border-radius: 10px;
                font-size: 1rem;
                color: rgb(0, 0, 0);
                padding: 4px 6px;
                transition: all 0.5s ease-in-out;
                margin-right: 5px;

                &:hover {
                  background-color: #cacaca;
                }
              }
              .boton-animado,
              .boton-animado2 {
                margin-right: 12px;
                display: inline-flex;
                align-items: center;
              }
            }
          }
        }
      }
      .section4 {
        form {
          display: flex;
          flex-direction: column;
          justify-content: start;
          background-color: #2b3544;
          padding: 20px;
          border-radius: 10px;
          max-width: 800px;
          margin-top: 20px;
          .form-group {
            display: flex;
            flex-direction: column;

            label {
              color: #e0e9f8;
              margin-bottom: 4px;
            }

            input,
            textarea {
              padding: 5px;
              border-radius: 5px;
              background-color: #1f2937;
              color: white;
              border: none;
            }
          }

          .enviar {
            cursor: pointer;
            background-color: #6d6dff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: #fff;
            font-size: 16px;
            transition: 0.5s ease-in-out;

            &:hover {
              background-color: #5353ff;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .titulo {
    justify-content: center;
    text-align: center;
  }
  .grid-container {
    gap: 10px;
  }
  .contenedor-grid {
    grid-template-columns: 1fr !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    flex-wrap: wrap;
    align-items: center;

    .img-personal {
      width: 50%;
      height: auto;
    }
  }

  .section3 {
    h2 {
      margin-bottom: 4%;
    }
  }

  .section4 {
    margin-top: 52%;
  }
}

@media (max-width: 680px) {
  .grid-container {
    gap: 10px;
  }

  .section3 {
    margin-bottom: 10%;
  }

  .section3 .proyecto-item:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .section3 .contenedor-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media screen and (min-width: 455px) {
  .botones {
    flex-direction: row; /* Fila para pantallas de 455px en adelante */
    justify-content: space-around;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
